services:
  aragbot:
    build: .
    ports: ["8502:8501"]
    environment:
      - WEAVIATE_URL=http://localhost:8080
      - OLLAMA_URL=http://ollama:11434
    depends_on: [weaviate, ollama]

  weaviate: 
    image: cr.weaviate.io/semitechnologies/weaviate:1.35.2
    ports: ["8080:8080", "50051:50051"]
    volumes: [weaviate_data:/var/lib/weaviate]
    security_opt:
      - no-new-privileges:false
    environment:
      - AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED=true

  ollama:
    image: ollama/ollama:latest
    ports: ["11435:11434"]
    volumes: [ollama:/root/.ollama]
    # command: serve

  webui: 
    image: ghcr.io/open-webui/open-webui:main
    ports: ["3000:8080"]
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    depends_on: [ollama]
    volumes: [webui:/app/backend/data]

volumes:
  weaviate_data:
  ollama:
  webui:
